//global styles
html {
   font-size: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Public Sans", sans-serif;
   line-height: 1.3;
   overflow-x: hidden;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

.cta {
   background: linear-gradient(90deg, #33CF6A, #45BAD0);
   padding: 1rem 2.5rem;
   color: white;
   border-radius: 30px;
   white-space: nowrap;
   transition: opacity 0.3s ease;

   &:hover {
      opacity: 0.8;
   }
}

//mixins
@mixin flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@mixin body_margin {
   width: 75%;
   margin: 0 auto;
}

@mixin header_font {
   font-size: 4.5rem;
   font-weight: 300;
   color: #32324C;
   padding-bottom: 2rem;
}

@mixin para_font {
   font-size: 1.2rem;
   color: #B9B9BB;
   line-height: 2rem;
}