@import "./globals";

//navigation styles
header {
   background: white;
   box-shadow: rgba(153, 153, 153, 0.1) 0px 1px 30px;
   position: relative;
   z-index: 2;
}

nav {
   @include flex;
   @include body_margin;
   min-height: 10vh;

   .nav-links {
      @include flex;

      a {
         padding: 2.2rem 0.5rem;
         margin: 0 0.5rem;
         color: #AAA9AF;
         transition: all 0.3s ease;

         &:hover {
            border-bottom: 4px solid #33CF6A;
            color: #8a8a8a;
         }
      }
   }
}

.open-menu, .close-menu {
   display: none;
}

main {
   //introduction section styles
   .intro-section {
      background: url("../../images/bg-intro-desktop.svg");
      background-repeat: no-repeat;
      background-position-x: 140%;
      background-position-y: 80%;
      min-height: 80vh;
      overflow-x: hidden;

      .intro {
         @include body_margin;
         @include flex;
         padding-top: 12rem;
   
         h1 {
            @include header_font;
         }

         p {
            @include para_font;
            padding-bottom: 3rem;
         }
      }

      .intro-img {
         position: absolute;
         top: 0;
         right: 0;
      }

      .mockups {
         width: 120%;
      }
   }

   //about styles
   .about-section {
      @include flex;
      background: #F4F5F7;
      min-height: 80vh;
      padding: 4rem 0;

      .about {
         @include body_margin;

         h1 {
            @include header_font;
            font-size: 3rem;
         }

         .sub-title {
            @include para_font;
            padding-bottom: 5rem;
         }

         .cards-content {
            @include flex;
            flex-wrap: wrap;

            .cards {
               width: 300px;
               height: 300px;
               display: flex;
               flex-direction: column;
               justify-content: space-around;
               align-items: flex-start;
               flex-wrap: wrap;
               margin: 1.2rem;
            }

            p {
               @include para_font;
               font-size: 1rem;
            }
         }
      }
   }

   //article styles
   .article-section {
      @include flex;
      background: #fafafa;
      min-height: 90vh;

      h1 {
         @include header_font;
         font-size: 3rem;
         padding-bottom: 5rem;
      }

      .articles {
         @include body_margin;
         padding: 4rem 0;
         
         .article-content {
            @include flex;
             flex-wrap: wrap;

            .article {
               width: 300px;
               height: 450px;
               border-radius: 5px;
               background: white;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               cursor: pointer;
               transition: box-shadow 0.3s ease;
               margin: 1.2rem;

               &:hover {
                  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 30px;
               }

               h3 {
                  transition: color 0.3s ease;
                  color: #32324C;

                  &:hover {
                     color: #33CF6A;
                  }
               }

               p {
                  color: #AAA9AF;
               }

               .author {
                  color: #AAA9AF;
                  font-size: .8rem;
               }

               img {
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                  object-fit: cover;
                  height: 200px;
               }

               .text-content {
                  @include flex;
                  height: 100%;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: space-evenly;
                  padding: 1rem;
               }
            }
         }
      }
   }
}

//footer styles
footer {
   background: #32324C;
   min-height: 25vh;
   @include flex;

   .footer-content {
      padding: 2rem 0;
      @include body_margin;
      @include flex;
      flex-wrap: wrap;
      
      a {
         color: white;
      }

      footer-logo {
         fill: white;
      }

      .social {
         margin: 2rem 4rem;
         .footer-logo {
            padding-bottom: 3rem;
         }

         a {
            padding: 0.5rem;
            
            svg path {
               transition: fill 0.3s ease;
            }

            &:hover svg path{
               fill: #33CF6A;
            }
         }
      }

      .links {
         @include flex;

         ul {
            height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 4rem;

            a {
               display: inline-block;
            }

            a:not(:last-child) {
               padding-bottom: 1rem;
            }
         }
      }

      .footer-cta {
         @include flex;
         flex-direction: column;
         align-items: flex-end;

         .cta {
            margin-bottom: 1.5rem;
         }

         p {
            color: #B9B9BB;
         }
      }
   }
}

.attribution {
   font-size: 11px;
   text-align: center;
}

@media screen and (max-width: 1500px) {
   main .intro-section .mockups {
      width: 100%;
   }
}

@media screen and (max-width: 1024px) {
   nav {
      width: 90%;
   }

   header {
      position: relative;
   }
   
   nav .cta,
   nav .nav-links {
      display: none;
   }

   nav .nav-links {
      position: fixed;
      width: 80%;
      height: 40%;
      top: 15vh;
      left: 10vw;
      align-self: center;
      flex-direction: column;
      justify-content: space-evenly;
      background: rgb(255, 255, 255);
      border-radius: 10px;
      transform: translateY(-130%);
      transition: transform 0.5s ease;
      color: #32324C;
   }

   nav .nav-open {
      transform: translateY(0%);
      display: flex;
   }

   .open-menu, .close-menu {
      position: absolute;
      top: 40%;
      right: 5%;
   }

   .open-menu {
      display: block;
   }

   main {
      h1 {
         text-align: center;
      }
      
      .about-section {
         .about {
            text-align: center;

            .cards-content {
               justify-content: center;

               .cards {
                  align-items: center;
               }
            }
         }
      }

      .article-section {
         .articles {
            .article-content {
               justify-content: center;
            }
         }
      }
   }
}

@media screen and (max-width: 1419px) {
   footer {
      .footer-content {
         justify-content: center;

         .footer-cta {
            align-items: center;
            align-self: center;
         }
      }
   }
}

@media screen and (max-width: 450px) {
   footer {
      .footer-content {
         justify-content: center;

         .social {
            margin-left: 0;
            margin-right: 0;
         }
      }
   }
}